@import 'lxgw-webkai-lite-webfont/style.css';

:root {
  --vp-font-family-base:"LXGW WenKai Lite", sans-serif;
  --vp-font-family-mono:"LXGW WenKai Mono Lite", sans-serif;

  --vp-layout-max-width: 1520px;

  --vp-c-bg: #eceff1;
  --vp-c-bg-alt: #e3ebef;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
}

.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
}

.VPDoc.has-aside .content-container {
  max-width: 880px !important;
}

.vp-doc h2 {
  margin: 24px 0 16px;
}
